<%= form_for @gist, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :imie, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :imie, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nazwisko, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nazwisko, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :karnet, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :karnet, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
        <%= f.submit "Zatwierdź", class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.usuń")),
                  gists_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
